:root {
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;

    --tran-00: none;
    --tran-01: all 0.1s ease;
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;

    --shadow-color: rgba(0, 0, 0, 0.3);
}

body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --active-color: #0073ff;
    --toggle-color: #fff;
    --text-color: #eee;
    --footer-color: #1d1b31;
}

body.light,
body {
    --body-color: #fcd8dc;
    --sidebar-color: #f23b52;
    --active-color: #FFC0CB;
    --toggle-color: #dc3545;
    --text-color: #eee;
    --footer-color: #1d1b31;
}

html body.dark {
    background-color: var(--body-color);
}

html body.light {
    background-color: var(--body-color);
}

.sidevar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 75px;
    background-color: var(--sidebar-color);
    padding-left: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 0px;
    z-index: 100;
    transition: var(--tran-05);
}

.sidevar.open {
    width: 250px;
}

.sidevar .company {
    height: 60px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;
}

.sidevar .company .logo {
    transition: var(--tran-05);
    height: 50px;
    width: 50px;
}

.sidevar .company .info {
    color: var(--text-color);
    /* font-size: 18px; */
    opacity: 0;
    transition: var(--tran-05);
    margin-left: 10px;
}

.sidevar .company .info .name {
    font-size: 18px;
    font-weight: 600;
    display: none;
}

.sidevar .company .info .type {
    font-size: 12px;
    display: none;
}

.sidevar.open .company .info .name,
.sidevar.open .company .info .type {
    display: block;
}

.sidevar .menu {
    margin-top: 20px;
    height: calc(100% - 130px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    scrollbar-width: none;
}

.sidevar.open .company .logo,
.sidevar.open .company .info {
    opacity: 1;
}

/* .sidebar .logo-details .btn-sidebar {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: var(--tran-04);
    text-align: left;
    cursor: pointer;
}

.sidebar.open .logo-details .btn-sidebar {
    text-align: center;
} */

.sidevar i {
    color: var(--text-color);
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidevar .nav-list {
    height: 100%;
}

.sidevar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidevar li .tooltip {
    opacity: 0;
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background-color: var(--sidebar-color);
    color: var(--text-color);
    box-shadow: 0px 5px 10px var(--shadow-color);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    pointer-events: none;
    transition: var(--tran-00);
}

.sidevar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: var(--tran-05);
    top: 50%;
    transform: translateY(-50%);
}

.sidevar.open li .tooltip {
    display: none;
}

.sidevar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    align-items: center;
    text-decoration: none;
    transition: var(--tran-04);
    background: transparent;
}

.sidevar li a:hover {
    background: var(--text-color);
}

.sidevar li a.active {
    transition: var(--tran-05);
    background-color: var(--body-color);
}

.sidevar li a .page {
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: var(--tran-04);
    font-weight: 500;
}

.sidevar.open li a .page {
    opacity: 1;
    pointer-events: auto;
}

.sidevar li a:hover .page,
.sidevar li a:hover i {
    transition: var(--tran-05);
    color: var(--sidebar-color);
}

.sidevar li a.active:hover .page,
.sidevar li a.active:hover i {
    transition: var(--tran-05);
    color: #fff;
}

.sidevar li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}

.sidevar li a.active:hover {
    background-color: var(--active-color);
}

.sidevar li.profile {
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: var(--footer-color);
    transition: var(--tran-05);
    overflow: hidden;
}

.sidevar.open li.profile {
    width: 250px;
}

/* profile -> details -> user job~name*/
.sidevar li .details {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.sidevar li img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
}

.sidevar li.profile .name,
.sidevar li.profile .job {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
}

.sidevar li.profile .job {
    font-size: 12px;
}

.sidevar .profile .logout {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: var(--footer-color);
    color: var(--text-color);
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: var(--tran-05);
    cursor: pointer;
}

.sidevar.open .profile .logout {
    width: 50px;
    background: none;
}

.main-container {
    position: absolute;
    min-height: 100vh;
    top: 0;
    left: 75px;
    width: calc(100% - 75px);
    transition: var(--tran-05);
    background-color: var(--body-color);
}

.sidevar.open~.main-container {
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
}

.main-container .content {
    display: block;
    font-size: 25px;
    font-weight: 500;
    margin: 15px;
    color: var(--sidebar-color);
}

.navbar-toggler-icon {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

body.light .sidevar li a.active span.page,
body.light .sidevar li a.active i {
    color: var(--sidebar-color);
}

body.dark .sidevar li a.active span.page,
body.dark .sidevar li a.active i {
    color: var(--text-color);
}

/* * * * * * * * * * * *  * * * * * * * */
@media (min-width: 200px) and (max-width: 599px) {
    .sidevar {
        display: none;
    }

    .main-container {
        left: 0px;
        width: 100%;
    }

    .sidevar.open~.main-container {
        left: 0px;
        width: 100%;
    }

    .navigation {
        background-color: var(--sidebar-color);
    }

    body.dark .navigation .nav-link {
        color: #ccc;
    }

    body.dark .navigation .nav-link.active {
        color: #eee;
        font-weight: 500;
    }

    body.light .navigation .nav-link {
        color: #eee;
    }

    body.light .navigation .nav-link.active {
        color: #fff;
        font-weight: 500;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    .sidevar {
        display: none;
    }

    .main-container {
        left: 0px;
        width: 100%;
    }

    .sidevar.open~.main-container {
        left: 0px;
        width: 100%;
    }

    .navigation {
        background-color: var(--sidebar-color);
    }

    body.dark .navigation .nav-link {
        color: #ccc;
    }

    body.dark .navigation .nav-link.active {
        color: #eee;
        font-weight: 500;
    }

    body.light .navigation .nav-link {
        color: #eee;
    }

    body.light .navigation .nav-link.active {
        color: #fff;
        font-weight: 500;
    }
}